html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header{
    height: 6.4rem;
}
#header_wrap{
    height:100%;
    width:1100px;
    margin:auto;
    display:flex;
    flex-direction: row;

}
#header_content{
    display:flex;
    justify-content: center;
    align-items: center;
}
#header_content form{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
img{
    display: block;
    margin: 0 auto;
}
.header_menu_select{
    color:  #ff6f0f;
    font-style: normal;
    font-size: large;
    font-weight: 700;
    background-color: white;
    border: none;
}
.header_menu{
    color: black;
    font-style: normal;
    font-size: large;
    font-weight: 700;
    background-color: white;
    border:none;
}
.chat_button{
    border: 0.5px solid #b8bcc3;
    border-radius: 0.3rem;
    font-size:1.0rem;
    font-weight: 600;
    margin: auto;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.search_input{
    width: 250px;
    padding: 10px;
    margin-left: 70px;
    border-radius: 0.6rem;
    border: none;
    background-color: #f5f5f5;
    height: 20px;
}