.light-theme {
    --seed-static-color-static-black: #000;
    --seed-static-color-static-white: #fff;
    --seed-static-color-static-gray-900: #212124;
    --seed-static-color-static-carrot-50: #fff5f0;
    --seed-static-color-static-carrot-800: #cc4700;
    --seed-static-color-static-green-50: #e8faf6;
    --seed-static-color-static-green-800: #008c72;
    --seed-static-color-static-yellow-50: #fff7e6;
    --seed-static-color-static-yellow-800: #ba5e02;
    --seed-static-color-static-red-50: #fff3f2;
    --seed-static-color-static-red-800: #e81300;
    --seed-static-color-static-blue-50: #ebf7fa;
    --seed-static-color-static-blue-800: #0a85b5;
    --seed-static-color-static-black-alpha-200: #00000033;
    --seed-static-color-static-black-alpha-500: #00000080;
    --seed-static-color-static-white-alpha-50: #ffffff0d;
    --seed-static-color-static-white-alpha-200: #ffffff33;
    --seed-semantic-color-on-primary: var(--seed-static-color-static-white);
    --seed-semantic-color-overlay-low: var(--seed-static-color-static-black-alpha-200);
    --seed-semantic-color-overlay-dim: var(--seed-static-color-static-black-alpha-500);
    --seed-semantic-color-on-primary-overlay-50: var(--seed-static-color-static-white-alpha-50);
    --seed-semantic-color-on-primary-overlay-200: var(--seed-static-color-static-white-alpha-200);
    --seed-scale-dimension-font-size-10: 10px;
    --seed-scale-dimension-font-size-25: 11px;
    --seed-scale-dimension-font-size-50: 12px;
    --seed-scale-dimension-font-size-75: 13px;
    --seed-scale-dimension-font-size-100: 14px;
    --seed-scale-dimension-font-size-150: 15px;
    --seed-scale-dimension-font-size-200: 16px;
    --seed-scale-dimension-font-size-300: 18px;
    --seed-scale-dimension-font-size-400: 20px;
    --seed-scale-dimension-font-size-500: 24px;
    --seed-scale-dimension-font-size-600: 26px;
    --seed-scale-dimension-font-size-700: 32px;
    --seed-scale-dimension-font-size-800: 34px;
    --seed-scale-dimension-font-size-900: 42px;
    --seed-scale-dimension-font-size-1000: 48px;
    --seed-scale-dimension-font-size-1100: 54px;
    --seed-scale-dimension-font-size-1200: 60px;
    --seed-scale-dimension-font-size-1300: 72px;
    --seed-semantic-typography-h1-font-size: var(--seed-scale-dimension-font-size-1000);
    --seed-semantic-typography-h2-font-size: var(--seed-scale-dimension-font-size-900);
    --seed-semantic-typography-h3-font-size: var(--seed-scale-dimension-font-size-800);
    --seed-semantic-typography-h4-font-size: var(--seed-scale-dimension-font-size-600);
    --seed-semantic-typography-title1-bold-font-size: var(--seed-scale-dimension-font-size-500);
    --seed-semantic-typography-title1-regular-font-size: var(--seed-scale-dimension-font-size-500);
    --seed-semantic-typography-title2-bold-font-size: var(--seed-scale-dimension-font-size-400);
    --seed-semantic-typography-title2-regular-font-size: var(--seed-scale-dimension-font-size-400);
    --seed-semantic-typography-title3-bold-font-size: var(--seed-scale-dimension-font-size-300);
    --seed-semantic-typography-title3-regular-font-size: var(--seed-scale-dimension-font-size-300);
    --seed-semantic-typography-subtitle1-bold-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-subtitle1-regular-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-subtitle2-bold-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-subtitle2-regular-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-body-l1-bold-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-body-l1-regular-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-body-l2-bold-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-body-l2-regular-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-body-m1-bold-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-body-m1-regular-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-body-m2-bold-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-body-m2-regular-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-caption1-bold-font-size: var(--seed-scale-dimension-font-size-75);
    --seed-semantic-typography-caption1-regular-font-size: var(--seed-scale-dimension-font-size-75);
    --seed-semantic-typography-caption2-bold-font-size: var(--seed-scale-dimension-font-size-50);
    --seed-semantic-typography-caption2-regular-font-size: var(--seed-scale-dimension-font-size-50);
    --seed-semantic-typography-label1-bold-font-size: var(--seed-scale-dimension-font-size-300);
    --seed-semantic-typography-label1-regular-font-size: var(--seed-scale-dimension-font-size-300);
    --seed-semantic-typography-label2-bold-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-label2-regular-font-size: var(--seed-scale-dimension-font-size-200);
    --seed-semantic-typography-label3-bold-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-label3-regular-font-size: var(--seed-scale-dimension-font-size-100);
    --seed-semantic-typography-label4-bold-font-size: var(--seed-scale-dimension-font-size-50);
    --seed-semantic-typography-label4-regular-font-size: var(--seed-scale-dimension-font-size-50);
    --seed-semantic-typography-label5-bold-font-size: var(--seed-scale-dimension-font-size-25);
    --seed-semantic-typography-label5-regular-font-size: var(--seed-scale-dimension-font-size-25);
    --seed-semantic-typography-label6-bold-font-size: var(--seed-scale-dimension-font-size-10);
    --seed-semantic-typography-label6-regular-font-size: var(--seed-scale-dimension-font-size-10);
    --seed-static-font-weight-regular: normal;
    --seed-static-font-weight-bold: bold;
    --seed-semantic-typography-h1-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-h2-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-h3-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-h4-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-title1-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-title1-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-title2-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-title2-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-title3-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-title3-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-subtitle1-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-subtitle1-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-subtitle2-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-subtitle2-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-body-l1-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-body-l1-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-body-l2-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-body-l2-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-body-m1-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-body-m1-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-body-m2-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-body-m2-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-caption1-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-caption1-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-caption2-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-caption2-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-label1-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-label1-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-label2-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-label2-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-label3-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-label3-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-label4-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-label4-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-label5-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-label5-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-semantic-typography-label6-bold-font-weight: var(--seed-static-font-weight-bold);
    --seed-semantic-typography-label6-regular-font-weight: var(--seed-static-font-weight-regular);
    --seed-static-line-height-static-small: 135%;
    --seed-static-line-height-static-medium: 150%;
    --seed-static-line-height-static-large: 162%;
    --seed-semantic-typography-h1-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-h2-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-h3-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-h4-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-title1-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-title1-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-title2-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-title2-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-title3-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-title3-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-subtitle1-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-subtitle1-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-subtitle2-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-subtitle2-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-body-l1-bold-line-height: var(--seed-static-line-height-static-large);
    --seed-semantic-typography-body-l1-regular-line-height: var(--seed-static-line-height-static-large);
    --seed-semantic-typography-body-l2-bold-line-height: var(--seed-static-line-height-static-medium);
    --seed-semantic-typography-body-l2-regular-line-height: var(--seed-static-line-height-static-medium);
    --seed-semantic-typography-body-m1-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-body-m1-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-body-m2-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-body-m2-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-caption1-bold-line-height: var(--seed-static-line-height-static-medium);
    --seed-semantic-typography-caption1-regular-line-height: var(--seed-static-line-height-static-medium);
    --seed-semantic-typography-caption2-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-caption2-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label1-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label1-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label2-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label2-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label3-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label3-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label4-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label4-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label5-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label5-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label6-bold-line-height: var(--seed-static-line-height-static-small);
    --seed-semantic-typography-label6-regular-line-height: var(--seed-static-line-height-static-small);
    --seed-scale-color-gray-00: #fff;
    --seed-scale-color-gray-50: #f7f8fa;
    --seed-scale-color-gray-100: #f2f3f6;
    --seed-scale-color-gray-200: #eaebee;
    --seed-scale-color-gray-300: #dcdee3;
    --seed-scale-color-gray-400: #d1d3d8;
    --seed-scale-color-gray-500: #adb1ba;
    --seed-scale-color-gray-600: #868b94;
    --seed-scale-color-gray-700: #4d5159;
    --seed-scale-color-gray-800: #393a40;
    --seed-scale-color-gray-900: #212124;
    --seed-scale-color-carrot-50: #fff5f0;
    --seed-scale-color-carrot-100: #ffe2d2;
    --seed-scale-color-carrot-200: #ffd2b9;
    --seed-scale-color-carrot-300: #ffbc97;
    --seed-scale-color-carrot-400: #ff9e66;
    --seed-scale-color-carrot-500: #ff6f0f;
    --seed-scale-color-carrot-600: #fa6616;
    --seed-scale-color-carrot-700: #f05705;
    --seed-scale-color-carrot-800: #cc4700;
    --seed-scale-color-carrot-900: #b44104;
    --seed-scale-color-carrot-950: #a03a03;
    --seed-scale-color-blue-50: #ebf7fa;
    --seed-scale-color-blue-100: #d2edfa;
    --seed-scale-color-blue-200: #b9e3fa;
    --seed-scale-color-blue-300: #87d7ff;
    --seed-scale-color-blue-400: #57c7ff;
    --seed-scale-color-blue-500: #009ceb;
    --seed-scale-color-blue-600: #08c;
    --seed-scale-color-blue-700: #0077b2;
    --seed-scale-color-blue-800: #006199;
    --seed-scale-color-blue-900: #004c73;
    --seed-scale-color-blue-950: #003b59;
    --seed-scale-color-red-50: #fff3f2;
    --seed-scale-color-red-100: #ffe5e3;
    --seed-scale-color-red-200: #fcd2cf;
    --seed-scale-color-red-300: #ffaca6;
    --seed-scale-color-red-400: #ff7e75;
    --seed-scale-color-red-500: #ff4133;
    --seed-scale-color-red-600: #fa2314;
    --seed-scale-color-red-700: #e81607;
    --seed-scale-color-red-800: #a62014;
    --seed-scale-color-red-900: #910c00;
    --seed-scale-color-red-950: #821006;
    --seed-scale-color-green-50: #e8faf6;
    --seed-scale-color-green-100: #c7f2e4;
    --seed-scale-color-green-200: #96ebc3;
    --seed-scale-color-green-300: #6adeac;
    --seed-scale-color-green-400: #30c795;
    --seed-scale-color-green-500: #1aa174;
    --seed-scale-color-green-600: #128c6e;
    --seed-scale-color-green-700: #077a5e;
    --seed-scale-color-green-800: #06614a;
    --seed-scale-color-green-900: #004f40;
    --seed-scale-color-green-950: #004034;
    --seed-scale-color-yellow-50: #fff7e6;
    --seed-scale-color-yellow-100: #ffe3ba;
    --seed-scale-color-yellow-200: #facc87;
    --seed-scale-color-yellow-300: #f7be68;
    --seed-scale-color-yellow-400: #dea651;
    --seed-scale-color-yellow-500: #c27f29;
    --seed-scale-color-yellow-600: #a66c21;
    --seed-scale-color-yellow-700: #805217;
    --seed-scale-color-yellow-800: #6b4717;
    --seed-scale-color-yellow-900: #593d17;
    --seed-scale-color-yellow-950: #4d361a;
    --seed-scale-color-pink-50: #fff5f5;
    --seed-scale-color-pink-100: #ffdddb;
    --seed-scale-color-pink-200: #ffbfc5;
    --seed-scale-color-pink-300: #ffadb4;
    --seed-scale-color-pink-400: #ff8a9d;
    --seed-scale-color-pink-500: #f0657c;
    --seed-scale-color-pink-600: #db4b6a;
    --seed-scale-color-pink-700: #bd2b5c;
    --seed-scale-color-pink-800: #991c45;
    --seed-scale-color-pink-900: #800d3d;
    --seed-scale-color-pink-950: #660a30;
    --seed-scale-color-purple-50: #f6f4fe;
    --seed-scale-color-purple-100: #e3dafe;
    --seed-scale-color-purple-200: #d5c7ff;
    --seed-scale-color-purple-300: #cfbfff;
    --seed-scale-color-purple-400: #b69eff;
    --seed-scale-color-purple-500: #9675fa;
    --seed-scale-color-purple-600: #8361e8;
    --seed-scale-color-purple-700: #6748c7;
    --seed-scale-color-purple-800: #4f3699;
    --seed-scale-color-purple-900: #3f2687;
    --seed-scale-color-purple-950: #331e70;
    --seed-scale-color-gray-alpha-50: #0000000d;
    --seed-scale-color-gray-alpha-100: #0000001a;
    --seed-scale-color-gray-alpha-200: #00000033;
    --seed-scale-color-gray-alpha-500: #00000080;
    --seed-scale-color-carrot-alpha-50: #ff6f0f0d;
    --seed-scale-color-carrot-alpha-100: #ff6f0f24;
    --seed-scale-color-carrot-alpha-200: #ff6f0f33;
    --seed-scale-color-blue-alpha-50: #009ceb0d;
    --seed-scale-color-blue-alpha-100: #009ceb1a;
    --seed-scale-color-blue-alpha-200: #009ceb33;
    --seed-scale-color-red-alpha-50: #ff41330d;
    --seed-scale-color-red-alpha-100: #ff41331a;
    --seed-scale-color-red-alpha-200: #ff413333;
    --seed-scale-color-yellow-alpha-50: #f7be6814;
    --seed-scale-color-yellow-alpha-100: #f7be6824;
    --seed-scale-color-yellow-alpha-200: #f7be683d;
    --seed-scale-color-green-alpha-50: #1aa1740d;
    --seed-scale-color-green-alpha-100: #1aa17424;
    --seed-scale-color-green-alpha-200: #1aa17433;
    --seed-semantic-color-primary: var(--seed-scale-color-carrot-500);
    --seed-semantic-color-primary-low: var(--seed-scale-color-carrot-alpha-100);
    --seed-semantic-color-secondary: var(--seed-scale-color-gray-900);
    --seed-semantic-color-secondary-low: var(--seed-scale-color-gray-alpha-50);
    --seed-semantic-color-success: var(--seed-scale-color-green-500);
    --seed-semantic-color-success-low: var(--seed-scale-color-green-alpha-50);
    --seed-semantic-color-warning: var(--seed-scale-color-yellow-400);
    --seed-semantic-color-warning-low: var(--seed-scale-color-yellow-alpha-100);
    --seed-semantic-color-danger: var(--seed-scale-color-red-600);
    --seed-semantic-color-danger-low: var(--seed-scale-color-red-alpha-50);
    --seed-semantic-color-paper-sheet: var(--seed-scale-color-gray-00);
    --seed-semantic-color-paper-dialog: var(--seed-scale-color-gray-00);
    --seed-semantic-color-paper-floating: var(--seed-scale-color-gray-00);
    --seed-semantic-color-paper-contents: var(--seed-scale-color-gray-50);
    --seed-semantic-color-paper-default: var(--seed-scale-color-gray-00);
    --seed-semantic-color-paper-background: var(--seed-scale-color-gray-100);
    --seed-semantic-color-paper-accent: var(--seed-scale-color-carrot-50);
    --seed-semantic-color-primary-hover: var(--seed-scale-color-carrot-400);
    --seed-semantic-color-primary-pressed: var(--seed-scale-color-carrot-400);
    --seed-semantic-color-primary-low-hover: var(--seed-scale-color-carrot-alpha-200);
    --seed-semantic-color-primary-low-active: var(--seed-scale-color-carrot-alpha-200);
    --seed-semantic-color-primary-low-pressed: var(--seed-scale-color-carrot-alpha-200);
    --seed-semantic-color-gray-hover: var(--seed-scale-color-gray-100);
    --seed-semantic-color-gray-pressed: var(--seed-scale-color-gray-100);
    --seed-semantic-color-on-primary-low-overlay-50: var(--seed-scale-color-carrot-alpha-50);
    --seed-semantic-color-on-primary-low-overlay-100: var(--seed-scale-color-carrot-alpha-100);
    --seed-semantic-color-on-primary-low-overlay-200: var(--seed-scale-color-carrot-alpha-200);
    --seed-semantic-color-on-gray-overlay-50: var(--seed-scale-color-gray-alpha-50);
    --seed-semantic-color-on-gray-overlay-100: var(--seed-scale-color-gray-alpha-100);
    --seed-semantic-color-text-selection: var(--seed-scale-color-carrot-50);
    --seed-semantic-color-divider-1: var(--seed-scale-color-gray-alpha-50);
    --seed-semantic-color-divider-2: var(--seed-scale-color-gray-200);
    --seed-semantic-color-divider-3: var(--seed-scale-color-gray-300);
    --seed-semantic-color-accent: var(--seed-scale-color-blue-500);
    --seed-semantic-color-ink-text: var(--seed-scale-color-gray-900);
    --seed-semantic-color-ink-text-low: var(--seed-scale-color-gray-600);
    --seed-semantic-color-gray-active: var(--seed-scale-color-gray-700);
}

html {
    line-height: 1.15;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    margin: 0;
}

p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}

ol, ul {
    list-style: none;
}

header {
    background-color: #fff;
    color: #212124;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 1;
    padding-top: 4px;
}
#header_div {
    display: flex;
    align-items: center;
    max-width: 75rem;
    padding: 0.75rem 1.25rem;
    height: 3.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#header_div_a {
    display: flex;
    align-items: center;
    margin-right: 2.25rem;
    text-decoration: none;
    background-color: transparent;
}
#header_div_nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2.5rem 0 0;
}
#header_div_nav a {
    text-decoration: none;
}
#header_div_nav a:link {
    color: #4d5159;
}
#header_div_nav a:visited {
    color: #4d5159;
}
#header_div_nav a:hover {
    color: #868b94;
}
#header_div_nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
#header_div_nav li {
    line-height: 1.32;
    font-size: 1.125rem;
    font-weight: 700;
    color: #4d5159;
    font-style: normal;
    margin-right: 1.875rem;
}

#header_div_nav li.active_page a {
    color: #ff6f0f;
}
#header_div_nav li.active_page a span{
    color: #ff6f0f;
}
#header_div_nav li:nth-of-type(1) a {}
#header_div_nav li:nth-of-type(2) a {}
#header_div_nav li:nth-of-type(3) a {}

#search_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_div span form {
    display: block;
    position: relative;
    margin-right: 0.75rem;
    margin-top: 0em;
}
#search_div span form input {
    width: 18rem;
    line-height: 1.36;
    font-size: 1rem;
    background-color: #f2f3f6;
    height: 2.5rem;
    padding: 0.5625rem 0.75rem;
    border: none;
    border-radius: 0.375rem;
    color: #212124;
    box-sizing: border-box;
}
#search_div span form input:focus {
    outline: none;
}
#search_div span button {
    width: 98px;
    height: 40px;
    line-height: 1.3;
    font-size: 1rem;
    display: block;
    white-space: nowrap;
    background-color: #fff;
    color: #212124;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    border-radius: 0.25rem;
    border: 1px solid #d1d3d8;
}
#search_div span button:hover {
    background-color: #f2f3f6;
    opacity: .7;
}

#main_header {
    margin-top: 64px;
    left: 0;
    right: 0;
    height: 19.6875rem;
    width: 100%;
    background: #d2edfa;
    overflow: hidden;
    align-items: center;
}
#main_header_div {
    display: block;
    padding: 3rem 1rem 0;
    padding-right: 16px;
    color: #212124;
    margin: 0 auto;
    max-width: 48rem;
    overflow: hidden;
    position: relative;
}
#main_header_div h1 {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
#main_header_div p {
    line-height: 1.32;
    font-size: 1.125rem;
    letter-spacing: -1%;
    display: block;
    margin: 1rem 0 0;
}
#main_header_div button {
    margin-top: 24px;
    line-height: 1.4;
    font-size: .875rem;
    min-height: 2.125rem;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #ff6f0f;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}
#main_header_div button:hover {
    background-color: #fa6616;
}
#main_header_div2 {

}
#car_hero_span {

}
#car_hero_img {
    width: 400px;
    height: 282px;

    position: absolute;
    top: 97px;
    left: 50%;
    right: 0;
    margin-top: 0;
    width: 25rem;
    height: 17.625rem;
    transform: translateX(0);
}
#realty_hero_img {
    width: 485px;
    height: 270px;

    position: absolute;
    top: 108px;
    left: 50%;
    right: 0;
    margin-top: 0;
    transform: translateX(0);
}

#main {

}
#main > div {
    width: 768px;
    height: 1736.56px;
    margin: 0 auto;
}
#main div h2 {
    margin: 60px 0 40px;
    line-height: 1.38;
    font-size: 1.625rem;
}
#main_section {
    width: 768px;
    height: 1736.56px;
}
#grid {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 18px;
    column-gap: 30px;
}
.item {
    display: flex;
    width: 368.63px;
    height: 128px;
    margin: 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.item > img {
    width: 108px;
    height: 108px;
    border-radius: 0.5rem;
}
.item > div {
    margin-left: 16px;
}
.item:nth-child(11) {
    grid-column: 1 / 3;
    width: 768px;
    cursor: default;
}
.item:nth-child(11) > div {
    background: #009ceb1a;
    width: 768px;
    height: 112.69px;
    margin-left: 0;
    display: flex;
    align-items: center;
}
#App_Download{
    display: flex;
    align-items: center;
    margin-left: 33px;
}
#App_Download div {
    line-height: 1.3;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212124;
    margin-right: 160px;
}
#App_Download img {
    margin-right: 20px;
}
#car_img {
    width: 69.75px;
    height: 56.69px;
}
#realty_img {
    width: 69px;
    height: 43px;
}
#App_Download button {
    height: 40px;
    line-height: 1.4;
    font-size: .875rem;
    margin: 0;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem 0.625rem;
    background-color: #ff6f0f;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}
#App_Download button:hover {
    background-color: #fa6616;
}
.car_title {
    margin-bottom: 4px;
    line-height: 1.32;
    font-size: 1.125rem;
}
.car_information {
    margin-bottom: 4px;
    line-height: 1.4;
    font-size: .875rem;
    color: #868b94;
}
.car_information > p {
    display: inline;
}
.car_information > p:nth-child(1) {
}
.car_price {
    line-height: 1.36;
    font-size: 1rem;
    font-weight: 700;
}



/******/


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0x auto;
    padding: 70px 0;
}

.info1 {
    display: flex;
}

[class^='app_download'] {
    display: flex;
    align-items: center;
    background-color: rgb(235, 237, 239);
    padding: 15px;
    border-radius: 15px;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

[class^='app_download']:hover {
    background-color: rgb(200, 202, 204);
}

[class^='app_download']:active {
    transform: scale(0.95);
}

.app_tit {
    font-weight: 600;
    font-size: 20px;
    padding-left: 40px;
}
.app_img_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'SUITE-Regular';
    margin-top: 40px;
    font-size: 15px;
    font-weight: 600;
    padding: 30px;
}
.app_img_2 img {
    height: 20px;
    margin-right: 10px;
}


.app_download_3 {
    margin-left: 10px;
}
.app_download_4 {
    margin-left: 10px;
}

.info1 ul {
    list-style-type: none;
    padding: 20px;
    line-height: 2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    color: #757980;
}
.footer_box {
    display: flex;
    justify-content: center;
}

.footer {
    width: 50%;
    border-top: 1px solid#eaebee;
    padding: 40px 0;
}

.txt_em {
    color: #868b94;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
}

.info2 {
    color: #868b94;
    font-size: 14px;
    word-spacing: 5px;
    padding-left: 20px;
}

.txt_em_1 {
    color: #868b94;
    font-size: 14px;
    font-weight: 700;
    word-spacing: 5px;
    padding-left: 20px;
    margin: 15px 0;
}

.txt_em_1 a{
    text-decoration: none;
    color: #6d7076;
}

.sns_lan {
    margin-right: 20px;
    float: right;
}

.fa-brands {
    height: 15px;
    filter: grayscale(100%);
}